.user_info .avatar {
  width: 250px;
}

.user h2 {
  margin-bottom: 1rem;
}
.user h3 {
  margin-bottom: 1rem;
}
.user p {
  margin-bottom: 0.5rem;
  font-weight: lighter;
}

.user section {
  margin-bottom: 1rem;
}
