.user_info .avatar {
  width: 200px;
  height: 200px;
  object-fit: cover;
}
/* 
.user h2 {
  margin-bottom: 1rem;
}
.user h3 {
  margin-bottom: 1rem;
}
.user p {
  margin-bottom: 0.5rem;
  font-weight: lighter;
}

.user section {
  margin-bottom: 1rem;
} */
.delete_user h2 {
  color: black;
}

.user_info h2 {
  color: black;
}
.user > h2 {
  font-size: xx-large;
}
